:root {
  --heading-font-family: "Playfair Display", serif;
  --heading-font-color: #112d4e;
  --default-font-family: "Poppins", sans-serif;
}

.homepage-content {
  background-color: #dbe2ef;
}

h1,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  color: var(--heading-font-color);
  font-weight: bold;
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 50px;
  color: var(--heading-font-color);
}
p {
  font-family: var(--default-font-family);
  border-radius: 4px;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
}

.hero {
  text-align: center;
  padding: 200px 20px;
  background: #c0d3f5;
}
.hero p {
  color: var(--heading-font-color);
  font-size: 36px;
  margin-bottom: 0px;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 25px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.btn-launch {
  background-color: #c0d3f5;
  color: #222;
  padding: 10px;
  border: none;
  outline: none;
  position: relative;

  --border-size: 2px;
}

.btn-launch::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--border-size);
  background-color: #3469a5e8;
  transition: transform 300ms ease-in-out;

  transform: scaleX(0);
}

.btn-launch:hover::before,
.btn-launch:focus::before {
  transform: scaleX(1);
}

.btn-launch:hover {
  font-weight: bold;
}
